.login-page-general {
    position: relative;

    background: url('../../public/background_picture.jpeg'), #F8F8F9;
    background-size: cover;
}

.titulo-nombre{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    position: static;
}


.login-form__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;

    position: absolute;
    width: 610px;
    left: 0px;
    top: 0px;
    bottom: 0px;

}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 450px;
    height: 650px;
    left: 80px;
    top: 80px;
}

.login-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 450px;
    height: 290px;
    left: 0px;
    top: 216.5px;

    align-self: stretch;
    margin: 45px 0px
}

.login-form__main{
    display:flex
    
}

.login-form__form-login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding:80px;
    background-color: #FFFFFF;
}

.login-form__titulo{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    position: static;
    width: 298px;
    height: 28px;
    margin: 45px 0px;
}
.login-form__formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: static;
    width: 450px;
    height: 166px;

    align-self: stretch;
    margin: 30px 0px;
}
.login-form__formulario input {
    position: static;
    width: 450px;
    height: 40px;
    left: 0px;
    top: 28px;

    background: #F8F8F9;
    border-radius: 8px;
}

.login-form__recuerdame{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: static;
    width: 405px;
    height: 24px;
    top: 196px;
}

.login-form__recuerdame a{
    position: static;
    height: 16px;
    left: 237px;
    right: 0px;
    top: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.login-form__recuerdame-check{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: static;
    width: 227px;
    height: 24px;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.login-form__recuerdame-check input{

    border-radius: 5px;
    background: #A5A8B3;
}

.login-form__boton{
    padding: 5px 14px 5px 10px;
    position: static;
    width: 450px;
    height: 40px;
    left: 0px;
    top: 250px;
    color: #FFFFFF;
    background: #32D5A4;
    border-style: none;
    border-radius: 8px;
    margin: 30px 0px;
}

.login-form__politica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: static;
    width: 450px;
    height: 60px;
    left: 80px;
    top: 760px;
}

.login-form__politica p{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: #A5A8B3;
    margin:0px;
}